{% extends "ARapp/layout.html" %}

{% block title %}
    ABOUT 
{% endblock title %}


{% block body_content%}
<h2> ABOUT aa </h2>
{% endblock body_content%}






{% comment %} <!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/ARapp">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/ARapp/users">users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="/ARapp/about">about</a>
      </li>
  </ul>

</div>



<h2>BLA BLA</h2>


</body>
</html> {% endcomment %}
