<!DOCTYPE html>
<html>
    <head>
        
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}


        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            <ul class="nav bg-info">
                <li class="nav-item">
                    {% comment %} potrebuje url appName:name z urlpatters z urls.py {% endcomment %}
                    <a class="nav-link link-light" href="{% url 'ARapp:index' %}">INDEX</a>
                </li>
                <li class="nav-item">
                    {% comment %} <a class="nav-link link-light" href="/users">users</a> {% endcomment %}
                    <a class="nav-link link-light" href="{% url 'ARapp:all_users' %}">users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'ARapp:systems' %}">systems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'ARapp:reviewList' %}">reviewList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'ARapp:reviewListAdd' %}">reviewListADD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'ARapp:about' %}">about</a>
                </li>
            </ul>
        </div>

    <body>
        {% block body_content %}{% endblock body_content %}
        <br />
        <br />
        <br />
        <br />
        
    </body>
    <footer>
        <p>&copy; 2024</p>
    </footer>

</html>