{% extends "ARapp/layout.html" %}
{% load django_tables2 %}

{% block title %}
    Users 
{% endblock title %}


{% block body_content%}
    <h2>User list</h2>

    {% if user_list %}
        {% render_table table %}
    {% else %}
        <p>No users have been logged.</p>
    {% endif %}

{% endblock body_content%}

{% comment %} 
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

    <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="/ARapp">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/ARapp/users">users</a>
          </li>
          <li class="nav-item">
              <a class="nav-link link-light" href="/ARapp/about">about</a>
            </li>
        </ul>
    </div>


{% block content2 %}
<h2>User list</h2>

{% if user_list %}
    <table class="message_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>status</th>
            <th>user type</th>
        </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
            <tr>
                <td>{{ user.employee_ID }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.userStatus.status }}</td>
                <td>{{ user.userType.userType }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No users have been logged.</p>
{% endif %}
{% endblock %}



</body>
</html> {% endcomment %}